
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap");

@import "tailwindcss";

@import "./base.css";
@import "./tables.css";
@import "./components.css";
@import "./calendar.css";
@import "./employee.css";
@import "./date-range.css";
@import "./charts.css";
@import "./utilities.css";
@import "./drawer.css";
@import "./sidebar.css";
@import "./topbar.css";
@import "./orders.css";
@import "./warehouse.css";